<!-- Fixed navbar -->
    <nav th:fragment="menu-principal" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}">My CineSite</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav nav-pills nav-fill"> 
            <li class="nav-item " sec:authorize="hasAnyAuthority('EDITOR','GERENTE')">
              <a class="nav-link" th:href="@{/peliculas/index}">Peliculas</a>
            </li> 
            <li class="nav-item" sec:authorize="hasAnyAuthority('EDITOR','GERENTE')">
              <a class="nav-link" th:href="@{/horarios/index}">Horarios</a>
            </li> 
            <li class="nav-item" sec:authorize="hasAnyAuthority('EDITOR','GERENTE')">
              <a class="nav-link" th:href="@{/noticias/index}">Noticias</a>
            </li> 
            <li class="nav-item" sec:authorize="hasAnyAuthority('GERENTE')">
              <a class="nav-link" th:href="@{/banners/index}">Banner</a>
              <a class="nav-link" th:href="@{/usuarios/index}">Usuario</a>
            </li>          
            <div sec:authorize="isAnonymous()">
              <a th:href="@{/about}">Acerca</a>
              <a th:href="@{/index}">Login</a>
              <a th:href="@{/signup}">Registrarse</a>
            </div>
            <div sec:authorize="isAuthenticated()">
              <a th:href="@{/logout}">Salir</a>
              <span class="text-info" >Bienvenido/a</span>&nbsp;<span class="text-info" sec:authentication="name"></span>
            </div>            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>